mixin seed4j-module-parameters(select, parameters)
  .seed4j-module-parameters(class=`${select} ${parameters}`)
    .seed4j-module-parameters--type(class=`${select} ${parameters}`)
      .seed4j-module-parameters--type-title(class=`${select} ${parameters}`) Mandatory
      .seed4j-module-parameters--type-stats(class=`${select} ${parameters}`) 3 / 3
    .seed4j-module-parameters--parameter(class=`${select} ${parameters}`)
      .seed4j-module-parameters--parameter-key(class=`${select} ${parameters}`) packageName
      .seed4j-module-parameters--parameter-value(class=`${select} ${parameters}`)
    .seed4j-module-parameters--parameter(class=`${select} ${parameters}`)
      .seed4j-module-parameters--parameter-key(class=`${select} ${parameters}`) projectName
      .seed4j-module-parameters--parameter-value(class=`${select} ${parameters}`)
    .seed4j-module-parameters--parameter(class=`${select} ${parameters}`)
      .seed4j-module-parameters--parameter-key(class=`${select} ${parameters}`) baseName
      .seed4j-module-parameters--parameter-value(class=`${select} ${parameters}`)
